<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="connString1" value="server=localhost;user id=sa;pwd=;database=数据库名字"/>
    <add key="connString2" value="provider=Microsoft.Jet.OleDb.4.0;Data Source=数据库路径"/>
  </appSettings>
  <system.web>
  </system.web>

</configuration>